<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.reframe.lapp">

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".Lapp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Lapp">
        <activity android:name=".views.MainActivity">
        </activity>
        <activity android:name=".views.TeacherActivity">
        </activity>
        <activity
            android:name=".views.PlayerView"
            android:configChanges="orientation|keyboardHidden|screenLayout|screenSize"
            android:theme="@style/Lapp"/>
        <activity
            android:name=".views.VideoFeedbackPlayerView"
            android:configChanges="orientation|keyboardHidden|screenLayout|screenSize"
            android:theme="@style/Lapp"/>
        <activity
            android:name=".views.EvaluationView"
            android:configChanges="orientation|keyboardHidden|screenLayout|screenSize"
            android:theme="@style/Lapp"/>
        <activity
            android:name=".views.ProfessorEvaluationView"
            android:configChanges="orientation|keyboardHidden|screenLayout|screenSize"
            android:theme="@style/Lapp"/>
        <activity
            android:name=".views.Landing"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".views.ListView"/>
        <activity android:name=".views.VideoListView"/>
        <activity android:name=".views.FeedbackEditorView"/>
        <activity android:name=".views.Settings"/>
    </application>

</manifest>